<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<a href="/roll-dice/1">Guess 1 </a><br>
<a href="/roll-dice/2">Guess 2 </a><br>
<a href="/roll-dice/3">Guess 3 </a><br>
<a href="/roll-dice/4">Guess 4 </a><br>
<a href="/roll-dice/5">Guess 5 </a><br>
<a href="/roll-dice/6">Guess 6 </a>
<div>
    Your Guess was <span th:text="${myGuess}"></span>
    The rolled number is <span th:text="${randomNum}"></span>
</div>
<h3 th:if="${isCorrectGuess}">
    You Guessed Correctly!
</h3>
<h3 th:if="${!isCorrectGuess}">
    You Guessed incorrectly!
</h3>

</body>
</html>